body{
  background-color: white;
  padding: 300px;
}
div{
  height: 100px;
  width: 100px;
}
.one{
  background-color: #F34F1C;
  border-style: wavy;
 
}
.two{
  background-color: #01A6F0;

}
.three{
  background-color:#7FBC00;


}
.four{
  background-color:#FFBA01;

}
